/* .imgContainer{
    float:left;
	text-align: center;
}

#images{
	background-color: white;
	text-align:center;
} */

.small_img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
  #images{
     text-align:center;
  }


h1 {
	color: #eaecd4;
}

body {
	background-color: #13131e;
	color: #eaecd4;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.animated-link {
	color: #dd9049;
	text-decoration: none;
	/* background-color: #2b2926; */
	background: #13131e;
	transition: background 0.2s ease;
	padding: 1px 3px;
	font-style: italic;
	font-style: bold;
}

a.animated-link:hover {
	background: #2b2926;
	/* color: #13131e; */
	/* background-color: #dd9049; */
}

.hidden-text {
	/* color: #dd9049; */
	color: #474963;
	font-style: italic;
	font-style: bold;
}

a.hidden-text {
	/* color: #dd9049; */
	/* color: #474963; */
	color: #323a49;
	transition: color 0.2s ease;
	text-decoration: none;
	/* background-color: #2b2926; */
	background: #13131e;
	transition: background 0.2s ease;
	padding: 1px 3px;
	font-style: italic;
	font-style: bold;
}

a.hidden-text:hover {
	/* background: #2b2926; */
	background: #dd9049;
	color: #13131e;
}
/* 
h1 {
	color: #eaecd4;
}

body {
	background-color: #02111B;
	color: #eaecd4;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
	color: #D0FCB3;
	text-decoration: none;
	background-color: #282b26;
	padding: 1px 3px;
	font-style: italic;
	font-style: bold;
} */